In [5]:
#importamos librerias
import pandas as pd
import numpy as np
import time
import os
# Manejar conversiones de fecha y hora entre pandas y matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import calendar
from datetime import datetime
from collections import Counter
from funciones_custom_y_limpieza import *

# LIMPIANDO  ENCUESTA SOBRE LOCALIZACIONES DUBLIN

In [9]:
#importacion de csv
os.chdir("../data")
dataset=pd.read_csv("encuesta-Likes_and_Dislikes.csv", engine = "c")

In [10]:
#cambio nombre columna , ya que es con la que trabajaremos 
dataset.rename(columns={'Feeling Toward Street   1 (avoid) - 5 (happy)': "valoration"}, inplace= True)

In [11]:
dataset.head(10)

,Locations,No of responses,Sample Quotes,valoration,What people like about this location,What they disike about this location
0,Aungier Street,18,"At night anti-social behaviour, Sense of commu...",3 luke warm,"Feeling on the street,the rustic look of the s...","Cleanliness,traffic -unsafe crossing, Image of..."
1,Corner of Parnell & Nth Great Georges Street,31,"Perception of being rough ,Really like the loc...",4 Like,People / Variety of restaurants-shops / \nBuil...,"Drugs on street, Appearance of buildings, Safety"
2,Camden Street,152,"A little kid in a big town,Needs a lick of Tar...",4 Like,"Variety,sense of community,traditonal","Closed shops, public behaviour at night, movement"
3,Manor Street,34,"Young People and old Dubliners,The filth the r...",3 luke warm,"Community,Old Village Feel,Character","Up-keep look of Meath Street, Movement, Vacancy"
4,Arran Quay,10,"Boardwalk nice when no undesirables on it, It ...",2 dislike,"River, Bridges,Buildings","Buildings, Congestion/ Movement, Paving"
5,Ellis Quay,19,"Historic Buildings sense of City,Hard to cross...",3 luke warm,"River,Bridges,Buildings","Movement, up-keep of Quay, Buildings"
6,Mountjoy Square,34,Dublin bus parking outside the school parents ...,5 Happy,"Park,Buildings, Amenities close by","Up-keep of square ,Anti-Social, buildings"
7,Meath Street,63,"Lack of space for pedestrian’s very cluttered,...",5 Happy,"People,Variety,Market","Movement, Buildings , Apperance of street"
8,Abbey Street (Luas end),50,"Junkies taking over the City, I feel it’s part...",1 Avoid,"Abbey Theatre,Public Transport, mix of business","Anti-social, Sense of derelicton, Clutter of ..."
9,Thomas Street,68,"Daisies bloom where they find room,It wouldn’t...",5 Happy,"Tradition & Character of the Street, Mixed Use...","Abandoned shops and buildings, Dirty appearanc..."

In [12]:
#pasamos la columna valoration a lita para limpiarla y quedarnos solo con los numeros
dataset.valoration=[celda[:1] for celda in dataset.valoration.tolist()]

In [13]:
#elegimos las celdas y columnas con las que nos quedamos
dataset=dataset.iloc[:,[0,3,4,5]].sort_values('valoration')

In [14]:
#guardando dataset
dataset.to_csv('valoration_final.csv')

# LIMPIANDO DATOS SOBRE EL TIEMPO EN IRLANDA

In [15]:
#exportando csv
os.chdir("../data")
dataset=pd.read_csv("hrly_Irish_weather.csv", encoding = "ISO-8859-1")
dataset.head(10)

/home/usuario/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning:

Columns (5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.

,county,station,latitude,longitude,date,rain,temp,wetb,dewpt,vappr,rhum,msl,wdsp,wddir,sun,vis,clht,clamt
0,Galway,ATHENRY,53.289,-8.786,26-jun-2011 01:00,0.0,15.3,14.5,13.9,15.8,90,1016.0,8,190,NaN,NaN,NaN,NaN
1,Galway,ATHENRY,53.289,-8.786,26-jun-2011 02:00,0.0,14.7,13.7,12.9,14.9,89,1015.8,7,190,NaN,NaN,NaN,NaN
2,Galway,ATHENRY,53.289,-8.786,26-jun-2011 03:00,0.0,14.3,13.4,12.6,14.6,89,1015.5,6,190,NaN,NaN,NaN,NaN
3,Galway,ATHENRY,53.289,-8.786,26-jun-2011 04:00,0.0,14.4,13.6,12.8,14.8,90,1015.3,7,180,NaN,NaN,NaN,NaN
4,Galway,ATHENRY,53.289,-8.786,26-jun-2011 05:00,0.0,14.4,13.5,12.7,14.7,89,1015.1,6,190,NaN,NaN,NaN,NaN
5,Galway,ATHENRY,53.289,-8.786,26-jun-2011 06:00,0.0,14.9,13.8,13.0,15.0,88,1015.0,8,180,NaN,NaN,NaN,NaN
6,Galway,ATHENRY,53.289,-8.786,26-jun-2011 07:00,0.0,15.1,13.5,12.2,14.2,83,1014.9,8,180,NaN,NaN,NaN,NaN
7,Galway,ATHENRY,53.289,-8.786,26-jun-2011 08:00,0.0,15.2,13.0,11.1,13.2,76,1014.7,7,170,NaN,NaN,NaN,NaN
8,Galway,ATHENRY,53.289,-8.786,26-jun-2011 09:00,0.0,16.1,13.2,10.8,12.9,70,1014.4,7,160,NaN,NaN,NaN,NaN
9,Galway,ATHENRY,53.289,-8.786,26-jun-2011 10:00,0.0,16.8,13.3,10.3,12.5,65,1014.1,10,180,NaN,NaN,NaN,NaN

In [16]:
#quitamos nulos
dataset.dropna()
#Filtramos solo por los restaurantes que hay en Dublin y obviamos el resto de paises que no nos interesan
D_county=dataset[dataset["county"]=='Dublin']
D_county.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 653378 entries, 478633 to 3738869
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   county     653378 non-null  object
 1   station    653378 non-null  object
 2   latitude   653378 non-null  float64
 3   longitude  653378 non-null  float64
 4   date       653378 non-null  object
 5   rain       653378 non-null  object
 6   temp       653378 non-null  object
 7   wetb       653378 non-null  object
 8   dewpt      653378 non-null  object
 9   vappr      653378 non-null  object
 10  rhum       653378 non-null  object
 11  msl        653378 non-null  object
 12  wdsp       533234 non-null  object
 13  wddir      533234 non-null  object
 14  sun        533234 non-null  object
 15  vis        533234 non-null  object
 16  clht       533234 non-null  object
 17  clamt      533234 non-null  object
dtypes: float64(2), object(16)
memory usage: 94.7+ MB

In [17]:
#pasamos  aformato fecha y volvemos a eliminar nulos
D_county['date']=pd.to_datetime(D_county['date'],errors='coerce')
D_county.dropna()

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,county,station,latitude,longitude,date,rain,temp,wetb,dewpt,vappr,rhum,msl,wdsp,wddir,sun,vis,clht,clamt
478633,Dublin,CASEMENT,53.306,-6.439,1990-01-01 00:00:00,0.0,9.2,8.5,7.8,10.5,91,1007.9,13,160,0.0,15000,14,7
478634,Dublin,CASEMENT,53.306,-6.439,1990-01-01 01:00:00,0.0,9,8.4,7.8,10.5,92,1007.3,17,170,0.0,12000,40,7
478635,Dublin,CASEMENT,53.306,-6.439,1990-01-01 02:00:00,0.0,9.5,8.6,7.6,10.4,88,1006.9,19,170,0.0,15000,40,7
478636,Dublin,CASEMENT,53.306,-6.439,1990-01-01 03:00:00,1.4,9.1,8.6,8.1,10.8,93,1007.1,15,170,0.0,10000,40,8
478637,Dublin,CASEMENT,53.306,-6.439,1990-01-01 04:00:00,0.9,7.8,7.5,7.1,10.1,96,1007.3,9,230,0.0,25000,40,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545059,Dublin,DUBLIN AIRPORT,53.428,-6.241,2020-05-31 20:00:00,0.0,14.7,11.6,8.6,11.2,67,1023.8,6,80,0.7,50000,999,3
1545060,Dublin,DUBLIN AIRPORT,53.428,-6.241,2020-05-31 21:00:00,0.0,12.4,10.2,7.9,10.7,74,1024.2,3,90,0,50000,999,1
1545061,Dublin,DUBLIN AIRPORT,53.428,-6.241,2020-05-31 22:00:00,0.0,9.8,8.9,7.9,10.7,88,1024.5,2,90,0,50000,999,1
1545062,Dublin,DUBLIN AIRPORT,53.428,-6.241,2020-05-31 23:00:00,0.0,8.7,8.0,7.2,10.2,90,1024.4,3,360,0,50000,999,1
1545063,Dublin,DUBLIN AIRPORT,53.428,-6.241,2020-06-01 00:00:00,0.0,7.8,7.2,6.4,9.7,91,1024.4,3,350,0,50000,999,1

In [18]:
#filtramos el dataset a los ultimos dos años, ya que no nos interesa el tiempo de muchos años atras
D_county=D_county[(D_county['date'] > '2018-01-01')]
D_county.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63504 entries, 724082 to 3738869
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   county     63504 non-null  object
 1   station    63504 non-null  object
 2   latitude   63504 non-null  float64
 3   longitude  63504 non-null  float64
 4   date       63504 non-null  datetime64[ns]
 5   rain       63504 non-null  object
 6   temp       63504 non-null  object
 7   wetb       63504 non-null  object
 8   dewpt      63504 non-null  object
 9   vappr      63504 non-null  object
 10  rhum       63504 non-null  object
 11  msl        63504 non-null  object
 12  wdsp       42336 non-null  object
 13  wddir      42336 non-null  object
 14  sun        42336 non-null  object
 15  vis        42336 non-null  object
 16  clht       42336 non-null  object
 17  clamt      42336 non-null  object
dtypes: datetime64[ns](1), float64(2), object(15)
memory usage: 9.2+ MB

In [19]:
#chequear que columnas tienen algun nulo
r = D_county.isnull().any()
print(r)

county       False
station      False
latitude     False
longitude    False
date         False
rain         False
temp         False
wetb         False
dewpt        False
vappr        False
rhum         False
msl          False
wdsp          True
wddir         True
sun           True
vis           True
clht          True
clamt         True
dtype: bool

In [20]:
#pasar a formato int y string algunas columnas
D_county[['rain',"temp","msl"]] = D_county[['rain',"temp","msl"]].apply(pd.to_numeric,errors='coerce')
D_county["station"]=D_county["station"].astype(str)
#crear una columna index para poder dejar la columnaa date sin tocar
D_county["Index"]= D_county["date"]

In [21]:
#pasar la columna index a indice
D_county.set_index(D_county.Index)
#renombrar dataset
data=D_county
data

,county,station,latitude,longitude,date,rain,temp,wetb,dewpt,vappr,rhum,msl,wdsp,wddir,sun,vis,clht,clamt,Index
724082,Dublin,CASEMENT,53.306,-6.439,2018-01-01 01:00:00,0.0,4.3,3.5,2.4,7.2,87,991.4,22,220,0,25000,26,7,2018-01-01 01:00:00
724083,Dublin,CASEMENT,53.306,-6.439,2018-01-01 02:00:00,0.0,4.3,3.5,2.2,7.2,87,991.3,20,220,0,25000,33,6,2018-01-01 02:00:00
724084,Dublin,CASEMENT,53.306,-6.439,2018-01-01 03:00:00,0.0,4.7,3.9,2.6,7.4,87,991.1,20,220,0,25000,999,3,2018-01-01 03:00:00
724085,Dublin,CASEMENT,53.306,-6.439,2018-01-01 04:00:00,0.0,4.8,3.9,2.6,7.4,86,990.8,20,220,0,20000,999,2,2018-01-01 04:00:00
724086,Dublin,CASEMENT,53.306,-6.439,2018-01-01 05:00:00,0.0,4.7,3.7,2.2,7.2,84,990.4,20,220,0,20000,250,5,2018-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3738865,Dublin,PHOENIX PARK,53.364,-6.350,2020-05-31 20:00:00,0.0,16.6,12.4,8.5,11.1,58,1023.5,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-31 20:00:00
3738866,Dublin,PHOENIX PARK,53.364,-6.350,2020-05-31 21:00:00,0.0,13.5,11.0,8.6,11.2,72,1024.0,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-31 21:00:00
3738867,Dublin,PHOENIX PARK,53.364,-6.350,2020-05-31 22:00:00,0.0,12.2,10.4,8.6,11.2,78,1024.2,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-31 22:00:00
3738868,Dublin,PHOENIX PARK,53.364,-6.350,2020-05-31 23:00:00,0.0,11.5,10.2,8.8,11.3,83,1024.1,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-31 23:00:00
3738869,Dublin,PHOENIX PARK,53.364,-6.350,2020-06-01 00:00:00,0.0,10.7,9.6,8.5,11.1,86,1024.2,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-01 00:00:00

In [22]:
# eliminar muestras malas
data = data[data['rain'] > -500]

#Asignar el "día" a cada entrada de fecha
data['day'] = data['date'].apply(lambda x: x.date())

# Obtener la hora, el día y la hora de cada marca de tiempo en el conjunto de datos
data['time_of_day'] = data['date'].apply(lambda x: x.time())
data['day_of_week'] = data['date'].apply(lambda x: x.weekday())    
data['hour_of_day'] = data['time_of_day'].apply(lambda x: x.hour)
# Marcar el mes para cada entrada para que podamos ver los patrones mensuales
data['month'] = data['date'].apply(lambda x: x.month)
# crear una columna con los dias que trabajaremos (lunes a sabado)
data['working_day'] = (data['day_of_week'] >= 0) & (data['day_of_week'] <= 6)

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
#por curiosidad ¿que dia llovio mas en Dublin desde hace dos años aca? ¡¡un 1 de junio 2020!!
data.max()

county                      Dublin
station               PHOENIX PARK
latitude                    53.428
longitude                   -6.241
date           2020-06-01 00:00:00
rain                          13.3
temp                          27.5
msl                         1048.2
sun                              1
vis                          75000
clht                           999
clamt                            8
Index          2020-06-01 00:00:00
day                     2020-06-01
time_of_day               23:00:00
day_of_week                      6
hour_of_day                     23
month                           12
working_day                   True
dtype: object

In [24]:
#clasificar ls horas del dia segun sea Mañana, tarde, noche...
data['session'] = data['hour_of_day'].apply(diaClass)
data['session']

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

724082        Late Night
724083        Late Night
724084        Late Night
724085        Late Night
724086     Early Morning
               ...
3738865              Eve
3738866            Night
3738867            Night
3738868            Night
3738869       Late Night
Name: session, Length: 63502, dtype: object

In [25]:
data['not_raining'] = data['rain'] = 0.0
data['raining'] = data['rain'] > 0.0

# Crearemos una columna con los dias que tendremos peligro de mojarnos, ya que es dia laboral y mañana
#o noche que es cuando vamos al trabajo.

clasificacion_dia=['Early Morning','Late Night']
for x in clasificacion_dia:   
    cluster=data['session']== x

data['get_wet_cycling'] = (data['working_day']) & (cluster)

#los dias de vacaciones entonces serán 
#data['get_wet_not_cycling'] = (data['working_day']) & (data['raining'])

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/usuario/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
#seleccionar columnas que son validas 

data_clean=pd.DataFrame(data[['rain', 'temp','day', 'time_of_day', 'day_of_week',
       'hour_of_day', 'month', 'working_day', 'session', 'raining',
       'get_wet_cycling','date']])
data_clean.head(10)

,rain,temp,day,time_of_day,day_of_week,hour_of_day,month,working_day,session,raining,get_wet_cycling,date
724082,0.0,4.3,2018-01-01,01:00:00,0,1,1,True,Late Night,False,True,2018-01-01 01:00:00
724083,0.0,4.3,2018-01-01,02:00:00,0,2,1,True,Late Night,False,True,2018-01-01 02:00:00
724084,0.0,4.7,2018-01-01,03:00:00,0,3,1,True,Late Night,False,True,2018-01-01 03:00:00
724085,0.0,4.8,2018-01-01,04:00:00,0,4,1,True,Late Night,False,True,2018-01-01 04:00:00
724086,0.0,4.7,2018-01-01,05:00:00,0,5,1,True,Early Morning,False,False,2018-01-01 05:00:00
724087,0.0,4.4,2018-01-01,06:00:00,0,6,1,True,Early Morning,False,False,2018-01-01 06:00:00
724088,0.0,4.1,2018-01-01,07:00:00,0,7,1,True,Early Morning,False,False,2018-01-01 07:00:00
724089,0.0,3.9,2018-01-01,08:00:00,0,8,1,True,Early Morning,False,False,2018-01-01 08:00:00
724090,0.0,4.3,2018-01-01,09:00:00,0,9,1,True,Morning,False,False,2018-01-01 09:00:00
724091,0.0,4.9,2018-01-01,10:00:00,0,10,1,True,Morning,False,False,2018-01-01 10:00:00

In [27]:
# Observa solo los días laborables y crea un conjunto de datos diarios de días laborables:
wet_cycling = data_clean.groupby('day')['get_wet_cycling'].any()
wet_cycling = pd.DataFrame(wet_cycling).reset_index()

wet_cycling

            day  get_wet_cycling
0    2018-01-01             True
1    2018-01-02             True
2    2018-01-03             True
3    2018-01-04             True
4    2018-01-05             True
..          ...              ...
878  2020-05-28             True
879  2020-05-29             True
880  2020-05-30             True
881  2020-05-31             True
882  2020-06-01             True

[883 rows x 2 columns]

In [28]:
wet_cycling.to_csv('wet_cycling_S_N.csv')
wet_cycling

            day  get_wet_cycling
0    2018-01-01             True
1    2018-01-02             True
2    2018-01-03             True
3    2018-01-04             True
4    2018-01-05             True
..          ...              ...
878  2020-05-28             True
879  2020-05-29             True
880  2020-05-30             True
881  2020-05-31             True
882  2020-06-01             True

[883 rows x 2 columns]

In [29]:
#agrupar por dia
rainy_days = data_clean.groupby(['day']).agg({
        "rain": [("rain_si_no", lambda x: (x > 0.0).any()),
                 ("rain_amount", "sum"),("rain_data", "max"),("get_wet_cycling","any")],
     
        })    

rainy_days

                 rain
           rain_si_no rain_amount rain_data get_wet_cycling
day
2018-01-01      False         0.0       0.0           False
2018-01-02      False         0.0       0.0           False
2018-01-03      False         0.0       0.0           False
2018-01-04      False         0.0       0.0           False
2018-01-05      False         0.0       0.0           False
...               ...         ...       ...             ...
2020-05-28      False         0.0       0.0           False
2020-05-29      False         0.0       0.0           False
2020-05-30      False         0.0       0.0           False
2020-05-31      False         0.0       0.0           False
2020-06-01      False         0.0       0.0           False

[883 rows x 4 columns]

In [30]:
#eliminar el index
rainy_days.reset_index(drop=False, inplace=True) 
#darle un nombre al index
rainy_days.rename(columns={"":"date"}, inplace=True) 
#eliminar index innecesarios
rainy_days.columns = rainy_days.columns.droplevel(level=0)
rainy_days

           date  rain_si_no  rain_amount  rain_data  get_wet_cycling
0    2018-01-01       False          0.0        0.0            False
1    2018-01-02       False          0.0        0.0            False
2    2018-01-03       False          0.0        0.0            False
3    2018-01-04       False          0.0        0.0            False
4    2018-01-05       False          0.0        0.0            False
..          ...         ...          ...        ...              ...
878  2020-05-28       False          0.0        0.0            False
879  2020-05-29       False          0.0        0.0            False
880  2020-05-30       False          0.0        0.0            False
881  2020-05-31       False          0.0        0.0            False
882  2020-06-01       False          0.0        0.0            False

[883 rows x 5 columns]

In [31]:
#guardar tabla
rainy_days.to_csv('rainy_days.csv')

In [32]:
# Agregar la cantidad de horas de lluvia por día al conjunto de datos rainy_days.
temp = data_clean.groupby(["day", "hour_of_day"])['raining'].any()
temp = temp.groupby(level=[0]).sum().reset_index()
#renombrar column
temp.rename(columns={'raining': 'hours_raining'}, inplace=True)
temp

            day  hours_raining
0    2018-01-01          False
1    2018-01-02          False
2    2018-01-03          False
3    2018-01-04          False
4    2018-01-05          False
..          ...            ...
878  2020-05-28          False
879  2020-05-29          False
880  2020-05-30          False
881  2020-05-31          False
882  2020-06-01          False

[883 rows x 2 columns]

In [33]:
#mergear en rainy_days la tabla temp
rainy_days = rainy_days.merge(temp, left_on='date', right_on='day', how='left')
rainy_days.drop('day', axis=1, inplace=True)


rainy_days
#guardar csv
rainy_days.to_csv('rainy_days_hours')

In [34]:
# Agrupar por mes para visualización: conjunto de datos mensuales para parcelas.
wet_cycling['month'] = wet_cycling['day'].apply(lambda x: x.month)
monthly=wet_cycling

In [35]:
#renombrar columnas
monthly.rename(columns={"get_wet_cycling":"Rainy", 0:"Days"}, inplace=True)
#asignar valores a true y false
monthly.replace({"Rainy": {True: "Wet", False:"Dry"}}, inplace=True) 

#poner ombre del mes al numero del mes
monthly['month_name'] = monthly['month'].apply(lambda x: calendar.month_abbr[x])

In [36]:
monthly

            day Rainy  month month_name
0    2018-01-01   Wet      1        Jan
1    2018-01-02   Wet      1        Jan
2    2018-01-03   Wet      1        Jan
3    2018-01-04   Wet      1        Jan
4    2018-01-05   Wet      1        Jan
..          ...   ...    ...        ...
878  2020-05-28   Wet      5        May
879  2020-05-29   Wet      5        May
880  2020-05-30   Wet      5        May
881  2020-05-31   Wet      5        May
882  2020-06-01   Wet      6        Jun

[883 rows x 4 columns]

In [37]:
#agrupar por mes
group_month=monthly.groupby(["month","Rainy","month_name"]).agg({"day":"count"}).reset_index()
group_month

    month Rainy month_name  day
0       1   Wet        Jan   93
1       2   Wet        Feb   85
2       3   Wet        Mar   93
3       4   Wet        Apr   90
4       5   Wet        May   93
5       6   Wet        Jun   61
6       7   Wet        Jul   62
7       8   Wet        Aug   62
8       9   Wet        Sep   60
9      10   Wet        Oct   62
10     11   Wet        Nov   60
11     12   Wet        Dec   62

In [38]:
#guardandocsv
group_month.to_csv('group_month.csv')

# LIMPIANDO INDICADOR DE EMPLEO POR SECTOR

In [77]:
#exportando csv
data2=pd.read_csv('indicator-employment-by-sector.csv')
data2

,Quarter,Dublin Employment ('000) - Construction (F),"Dublin Employment ('000) - Wholesale and retail trade, repair of motor vehicles and motorcycles (G)",Dublin Employment ('000) - Transportation and storage (H),Dublin Employment ('000) - Accommodation and food service activities (I),Dublin Employment ('000) - Information and communication (J),"Dublin Employment ('000) - Professional, scientific and technical activities (M)",Dublin Employment ('000) - Administrative and support service activities (N),"Dublin Employment ('000) - Public administration and defence, compulsory social security (O)",Dublin Employment ('000) - Education (P),...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,Q1 98,24.0,73.7,29.0,31.8,36.484827,35.2,23.589445,28.3,29.787729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q2 98,24.3,73.9,29.6,31.3,37.318013,36.0,23.378097,27.0,30.357276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Q3 98,25.0,75.6,31.0,33.5,38.919939,36.3,24.107732,26.9,30.301830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Q4 98,26.2,72.0,32.2,30.8,39.588693,37.5,23.635331,26.9,30.847598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Q1 99,27.1,73.1,33.6,33.5,42.236277,37.7,23.713206,28.4,31.405468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
#pasando formato Quarter a fecha
data2.Quarter=data2.Quarter.str.replace(r'(Q\d) (\d+)',r'\2-\1')
data2.Quarter=pd.to_datetime(data2.Quarter).dt.strftime('%b-%y')
data2

,Quarter,Dublin Employment ('000) - Construction (F),"Dublin Employment ('000) - Wholesale and retail trade, repair of motor vehicles and motorcycles (G)",Dublin Employment ('000) - Transportation and storage (H),Dublin Employment ('000) - Accommodation and food service activities (I),Dublin Employment ('000) - Information and communication (J),"Dublin Employment ('000) - Professional, scientific and technical activities (M)",Dublin Employment ('000) - Administrative and support service activities (N),"Dublin Employment ('000) - Public administration and defence, compulsory social security (O)",Dublin Employment ('000) - Education (P),...,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58
0,Jan-98,24.0,73.7,29.0,31.8,36.484827,35.2,23.589445,28.3,29.787729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apr-98,24.3,73.9,29.6,31.3,37.318013,36.0,23.378097,27.0,30.357276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jul-98,25.0,75.6,31.0,33.5,38.919939,36.3,24.107732,26.9,30.301830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oct-98,26.2,72.0,32.2,30.8,39.588693,37.5,23.635331,26.9,30.847598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jan-99,27.1,73.1,33.6,33.5,42.236277,37.7,23.713206,28.4,31.405468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
#guardando csv
data2.to_csv('employment.csv')

# LIMPIANDO RESTAURANTES EN EUROPA-TRIPADVISOR

In [45]:
#exportando csv
data_rest=pd.read_csv('TripAd_restaurants_europe.csv')
data_rest.columns
data_rest.City.unique()

array(['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Bratislava',
       'Brussels', 'Budapest', 'Copenhagen', 'Dublin', 'Edinburgh',
       'Geneva', 'Hamburg', 'Helsinki', 'Krakow', 'Lisbon', 'Ljubljana',
       'London', 'Luxembourg', 'Lyon', 'Madrid', 'Milan', 'Munich',
       'Oporto', 'Oslo', 'Paris', 'Prague', 'Rome', 'Stockholm', 'Vienna',
       'Warsaw', 'Zurich'], dtype=object)

In [46]:
#filtrando solo por la ciudad de Dublin 
data_rest_D=data_rest[data_rest["City"]=='Dublin']
data_rest_D

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
29861,0,Mulberry Garden,Dublin,"['Irish', 'European', 'Contemporary', 'Vegetar...",1.0,4.5,$$$$,609.0,[['Great Experience on Food and Service - Str....,/Restaurant_Review-g186605-d2239110-Reviews-Mu...,d2239110
29862,1,Bloom Brasserie,Dublin,"['Irish', 'European', 'Wine Bar', 'Central Eur...",2.0,4.5,$$ - $$$,1329.0,"[['Good but no wow factor', 'Great Brunch'], [...",/Restaurant_Review-g186605-d1587791-Reviews-Bl...,d1587791
29863,2,The Vintage Kitchen,Dublin,"['Irish', 'European', 'Soups', 'Vegetarian Fri...",3.0,4.5,$$ - $$$,1644.0,"[['Plan on spending a while, for a truly fabu....",/Restaurant_Review-g186605-d3873866-Reviews-Th...,d3873866
29864,3,Chapter One,Dublin,"['Irish', 'European', 'Contemporary', 'Vegetar...",4.0,4.5,$$$$,2000.0,"[['Celebration Meal', 'Christmas Lunch'], ['01...",/Restaurant_Review-g186605-d696187-Reviews-Cha...,d696187
29865,4,Dax Restaurant,Dublin,"['French', 'European', 'Contemporary', 'Health...",5.0,4.5,$$$$,771.0,"[['Wedding anniversary celebration', 'Highly r...",/Restaurant_Review-g186605-d1146791-Reviews-Da...,d1146791
...,...,...,...,...,...,...,...,...,...,...,...
31938,2077,South American Shop,Dublin,"['Brazilian', 'Latin', 'Spanish', 'Guatemalan'...",NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g186605-d13336254-Reviews-S...,d13336254
31939,2078,Quigleys,Dublin,['Cafe'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g186605-d13340251-Reviews-Q...,d13340251
31940,2079,Bakelicious,Dublin,['Cafe'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g186605-d13341513-Reviews-B...,d13341513
31941,2080,Humphrey's Pub,Dublin,['Irish'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g186605-d13351283-Reviews-H...,d13351283
31942,2081,Bubble Waffle Factory,Dublin,['Asian'],NaN,NaN,NaN,NaN,NaN,/Restaurant_Review-g186605-d13357043-Reviews-B...,d13357043

In [47]:
#observando el ratio de nulos por columnas
na_ratio = ((data_rest.isnull().sum() / len(data_rest_D))*100).sort_values(ascending = False)
print(na_ratio)

Price Range          2298.511047
Cuisine Style        1505.811720
Number of Reviews     833.045149
Ranking               463.544669
Rating                462.536023
Reviews               461.863593
ID_TA                   0.000000
URL_TA                  0.000000
City                    0.000000
Name                    0.000000
Unnamed: 0              0.000000
dtype: float64

In [48]:
#quitando nulos
list_D=data_rest['Cuisine Style'].dropna()

In [49]:
#la columna que nos interesa es el tipo de cocina de los restaurantes en dublin y esta muy sucia
#la pasamos a lita
list_D=data_rest['Cuisine Style'].values.tolist()

In [55]:
#es un string de listas, se quiere pasar a una lista de string
data_rest['Cuisine Style']= data_rest['Cuisine Style'].str.replace(r'[^a-zA-Z\s]+|X{2,}', ' ')

In [56]:
lista=list(data_rest['Cuisine Style'])
lista

[' French   Dutch   European ',
 ' Dutch   European   Vegetarian Friendly   Gluten Free Options ',
 ' Mediterranean   French   International   European   Vegetarian Friendly   Vegan Options ',
 ' French   European   International   Contemporary   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Contemporary   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   International   Mediterranean   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Japanese   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Seafood   Fast Food ',
 ' American   Bar   European   Vegetarian Friendly   Gluten Free Options ',
 ' French   Dutch   International   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Bar   Pub ',
 ' French   Dutch   International   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   European   British   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Healthy   International   Vegetarian Friendly   Gluten Free Options ',
 ' French   Bar   International   European   Seafood   Vegetarian Friendly   Gluten Free Options ',
 ' Indian   Tibetan   Nepali   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   Mediterranean   European   Vegetarian Friendly ',
 ' International   European ',
 ' French   Dutch   Seafood   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Bar   Pub ',
 ' Dutch   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Cafe   European   British   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   International   European   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Cafe   European   Healthy   Central European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Barbecue   French   Steakhouse   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' European   Contemporary   Indonesian   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   Latin   Barbecue   Argentinean   South American   Gluten Free Options ',
 ' Barbecue   American   Grill   Delicatessen ',
 ' Barbecue   American   Steakhouse   European ',
 ' Italian   Pizza   Mediterranean   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   European   Vegetarian Friendly   Vegan Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Bar   European   International   Vegetarian Friendly ',
 ' Asian   Thai   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   European   Vegetarian Friendly   Gluten Free Options ',
 ' Indian   Nepali   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Seafood   European   Soups   Gluten Free Options ',
 ' Dutch   Seafood   International ',
 ' Dutch   Delicatessen   Healthy   Street Food   Seafood ',
 ' Cafe   European   Soups   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   European   Vegetarian Friendly   Vegan Options ',
 ' Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   Barbecue   European   Grill   Vegetarian Friendly ',
 ' Italian   Bar   Cafe   Mediterranean   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European ',
 ' Dutch   European   Diner   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Mediterranean   Healthy   Street Food   Lebanese   Middle Eastern   Israeli   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   European   Soups   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' Seafood   European   Gluten Free Options ',
 ' International   European   Vegetarian Friendly ',
 ' Asian   Thai   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' New Zealand   Cafe   European   Contemporary   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Chinese   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Seafood   Mediterranean   Gluten Free Options ',
 ' Dutch   Bar   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' International   European   Vegetarian Friendly   Gluten Free Options   Vegan Options ',
 ' Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly ',
 ' Seafood   European   Gluten Free Options ',
 ' Italian   Pizza   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options ',
 ' Pizza   Italian   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' American   Bar   Fast Food ',
 ' French   Dutch   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   International   European   Vegetarian Friendly   Vegan Options ',
 ' Indian   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   European   Vegetarian Friendly ',
 ' Belgian   Dutch   Fast Food   Vegetarian Friendly   Vegan Options ',
 ' American   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   Pizza   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   Seafood   European   International ',
 ' French   Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   Barbecue   European   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' American   Fast Food ',
 ' Steakhouse   Italian   Pizza   Seafood   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Indian   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' American   Steakhouse   Bar   Barbecue   European   Grill   Gluten Free Options ',
 ' American   Steakhouse   Dutch   Bar   Barbecue   European ',
 ' French   Dutch   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Asian   Italian   French   American   Indian   Dutch   Bar   Seafood   Fast Food   Mediterranean   Sushi   European   Spanish   Korean   Turkish   Grill   Vietnamese   Street Food   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   International   Vegetarian Friendly   Gluten Free Options   Vegan Options ',
 ' French   Dutch   International   European   Grill   Steakhouse   Vegetarian Friendly   Gluten Free Options ',
 ' American   Bar   Fast Food   European   Pub   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Tibetan   Nepali   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   International   Mediterranean   Vegetarian Friendly   Vegan Options ',
 ' Dutch   French   Seafood   International   European   Vegetarian Friendly   Gluten Free Options ',
 ' Irish   Bar   European   British   Pub   International   Vegetarian Friendly ',
 ' Dutch   Bar   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options ',
 ' Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Cafe   International   European   Gluten Free Options   Vegetarian Friendly   Vegan Options ',
 ' Bar   European   American   Vegetarian Friendly ',
 ' Italian   Pizza   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' New Zealand   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   International   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Pub   German   Bar   European   Gluten Free Options ',
 ' Italian   Pizza   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' Dutch   Bar   European   Pub   Vegetarian Friendly ',
 ' Italian   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' French   Dutch   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   European   International   Gluten Free Options   Vegetarian Friendly ',
 ' Mediterranean   Italian   European   Vegetarian Friendly ',
 ' Dutch   Seafood   European   Vegetarian Friendly   Gluten Free Options ',
 ' Steakhouse   International   Grill ',
 ' Mediterranean   European   Spanish   Turkish   Middle Eastern   Vegetarian Friendly   Vegan Options   Halal   Gluten Free Options ',
 ' Italian   Mediterranean   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Bar   Cafe   European   Dutch   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Belgian   Dutch   Bar   European   Pub ',
 ' Italian   Mediterranean   Vegetarian Friendly   Vegan Options ',
 ' Fast Food   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Japanese   Sushi   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   Dutch   Bar   Barbecue   European   Gluten Free Options ',
 ' French   Vegetarian Friendly   Vegan Options ',
 ' Mediterranean   European   Spanish   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Pub ',
 ' Bar   Seafood   European   British   Gastropub   Pub   Vegetarian Friendly ',
 ' Asian   Thai   Vegetarian Friendly   Vegan Options ',
 ' Asian   Thai   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Bar   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Mediterranean   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Bar   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   Mediterranean   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   European   Vegetarian Friendly   Vegan Options ',
 ' Italian   European   Vegetarian Friendly   Vegan Options ',
 ' French   Swiss   European   Central European   Vegetarian Friendly   Gluten Free Options ',
 ' Steakhouse   Dutch   Bar   European   Vegetarian Friendly   Gluten Free Options ',
 ' French   Dutch   Seafood   European   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   Vegetarian Friendly   Vegan Options ',
 ' Dutch   European   Seafood   Vegetarian Friendly   Gluten Free Options   Vegan Options ',
 ' Dutch   International   European   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' German   Scandinavian   Dutch ',
 ' Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   Argentinean   South American   Grill   Gluten Free Options ',
 ' Dutch   Mediterranean   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Swiss   European   Central European   Vegetarian Friendly ',
 ' French   International   Dutch   European   Central European   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Seafood   European   Soups   Vegetarian Friendly   Gluten Free Options ',
 ' Steakhouse   Latin   Barbecue   European   Argentinean   South American   Vegetarian Friendly ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   Dutch   International   European   Contemporary   Vegetarian Friendly   Vegan Options ',
 ' Dutch   Seafood   European   Vegetarian Friendly   Gluten Free Options ',
 ' Asian   Thai   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   Dutch   International   European   Vegetarian Friendly   Gluten Free Options   Vegan Options ',
 ' Dutch   Bar   European   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Bar   Cafe   European   Pub   Vegetarian Friendly ',
 ' Healthy   Middle Eastern   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Asian   Thai   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Fast Food   European ',
 ' Bar   Pub ',
 ' European   Soups   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Delicatessen   Vegetarian Friendly   Gluten Free Options ',
 ' European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   European   Vegetarian Friendly   Gluten Free Options ',
 ' French   Asian   European   Gluten Free Options   Vegetarian Friendly   Vegan Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Fast Food   Vegetarian Friendly   Vegan Options ',
 nan,
 ' Italian   Pizza   European   Vegetarian Friendly   Vegan Options ',
 ' European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   European   Grill   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Bar   European   Pub   Vegetarian Friendly ',
 ' Lebanese   Middle Eastern   Fast Food   Vegetarian Friendly   Vegan Options ',
 ' Cafe   International   European   Healthy   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   European   Argentinean   South American   Gluten Free Options ',
 ' French   Dutch   European   Gluten Free Options   Vegetarian Friendly ',
 ' Japanese   Sushi   Asian   Fusion   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   Dutch   Mediterranean   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   European   Argentinean   Gluten Free Options ',
 ' Dutch   Bar   European   Pub   Vegetarian Friendly ',
 ' Japanese   Sushi   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' European   Dutch   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Italian   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Japanese   Asian   Soups   Vegetarian Friendly   Vegan Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options ',
 ' French   Cafe   European   Vegetarian Friendly   Gluten Free Options ',
 ' Chinese   Fast Food   Asian   Vegetarian Friendly   Vegan Options ',
 ' Dutch   Bar   European   Pub   Grill   Vegetarian Friendly ',
 ' Bar   European   British   Pub   Gastropub   Vegetarian Friendly ',
 ' Mediterranean   European   Spanish   Vegetarian Friendly   Gluten Free Options ',
 ' Mediterranean   Middle Eastern   Arabic   Vegetarian Friendly   Vegan Options   Halal   Gluten Free Options ',
 ' Italian   Mediterranean   European   Spanish   Vegetarian Friendly   Vegan Options ',
 ' Cafe   European   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Fast Food   Vegetarian Friendly   Vegan Options ',
 ' American   Steakhouse   Bar   Barbecue   European   Grill ',
 ' American   Bar   European   Pub   Vegetarian Friendly ',
 ' Italian   Pizza   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' Chinese   Sushi   Asian   Thai   Vegetarian Friendly ',
 ' Dutch   Bar   European   Pub   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Indian   Asian   Balti   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Moroccan   Mediterranean   Turkish   Middle Eastern   Tunisian   Persian   Vegetarian Friendly   Vegan Options   Halal   Gluten Free Options ',
 ' Dutch   Bar   European   Wine Bar   Vegetarian Friendly ',
 ' French   European   Central European   International   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' International   Sushi   Italian   Grill   Vegetarian Friendly   Vegan Options ',
 ' Dutch   Bar   Cafe   European   Diner   Central European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   European   Vegetarian Friendly   Gluten Free Options ',
 ' Irish   Bar   European   Pub   Vegetarian Friendly ',
 ' Fast Food   Mediterranean   Middle Eastern   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Steakhouse   European   Grill   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Bar   European   Vegetarian Friendly ',
 ' American   Bar   European   Vegetarian Friendly ',
 ' Italian   European   Mediterranean   Vegetarian Friendly   Vegan Options ',
 ' Italian   Pizza   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' Chinese   Japanese   Sushi   Asian   Thai   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Seafood   European   Gluten Free Options ',
 ' French   Dutch   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Bar   European   Gastropub   Cafe   Vegetarian Friendly ',
 ' Steakhouse   Barbecue   Grill   Argentinean   Vegetarian Friendly ',
 ' Asian   Indonesian   Vegetarian Friendly   Vegan Options ',
 ' Japanese   Sushi   Asian   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Mediterranean   European   Portuguese   Vegetarian Friendly   Gluten Free Options ',
 ' Irish   Bar   European   British   Pub   Gastropub   Vegetarian Friendly ',
 ' Dutch   Fast Food   Barbecue   European   Street Food   Halal ',
 ' Mediterranean   European   Spanish   Fusion   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' European   Vegetarian Friendly   Gluten Free Options ',
 ' Indian   Asian   Balti   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' Dutch   Bar   European   International   Vegetarian Friendly   Gluten Free Options ',
 ' French   Dutch   European   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Fast Food ',
 ' South American   Mexican   Steakhouse   Latin   Barbecue   Argentinean   Central American   Gluten Free Options ',
 ' Italian   Pizza   Mediterranean   European   Vegetarian Friendly   Vegan Options ',
 ' Bar   European   International ',
 ' Dutch   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',
 ' French   European   Wine Bar   Vegetarian Friendly   Gluten Free Options ',
 ' Dutch   Cafe   European   Vegetarian Friendly   Vegan Options   Gluten Free Options ',

In [57]:
#finalmente es lista de string
values = "".join(map(str, lista))
v_split=values.split()
#nos damos cuenta que los restaurantes se clasifican nosolo por nacionalidades sino por tipo de comida x ej.suhi
#Tambien se meten palabras aleatorias como Options, Friendly...
v_split

['French',
 'Dutch',
 'European',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Mediterranean',
 'French',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'French',
 'European',
 'International',
 'Contemporary',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Contemporary',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'International',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Asian',
 'Indonesian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Japanese',
 'Asian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Seafood',
 'Fast',
 'Food',
 'American',
 'Bar',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'French',
 'Dutch',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'European',
 'Central',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Bar',
 'Pub',
 'French',
 'Dutch',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'European',
 'British',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Healthy',
 'International',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'French',
 'Bar',
 'International',
 'European',
 'Seafood',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Indian',
 'Tibetan',
 'Nepali',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Italian',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'International',
 'European',
 'French',
 'Dutch',
 'Seafood',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Bar',
 'Pub',
 'Dutch',
 'European',
 'Central',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Cafe',
 'European',
 'British',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'European',
 'Healthy',
 'Central',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Barbecue',
 'French',
 'Steakhouse',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'European',
 'Contemporary',
 'Indonesian',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Steakhouse',
 'Latin',
 'Barbecue',
 'Argentinean',
 'South',
 'American',
 'Gluten',
 'Free',
 'Options',
 'Barbecue',
 'American',
 'Grill',
 'Delicatessen',
 'Barbecue',
 'American',
 'Steakhouse',
 'European',
 'Italian',
 'Pizza',
 'Mediterranean',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Bar',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Asian',
 'Thai',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Italian',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Indian',
 'Nepali',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Seafood',
 'European',
 'Soups',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Seafood',
 'International',
 'Dutch',
 'Delicatessen',
 'Healthy',
 'Street',
 'Food',
 'Seafood',
 'Cafe',
 'European',
 'Soups',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Steakhouse',
 'Barbecue',
 'European',
 'Grill',
 'Vegetarian',
 'Friendly',
 'Italian',
 'Bar',
 'Cafe',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Dutch',
 'European',
 'Diner',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Mediterranean',
 'Healthy',
 'Street',
 'Food',
 'Lebanese',
 'Middle',
 'Eastern',
 'Israeli',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'European',
 'Soups',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Seafood',
 'European',
 'Gluten',
 'Free',
 'Options',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Asian',
 'Thai',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'New',
 'Zealand',
 'Cafe',
 'European',
 'Contemporary',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Chinese',
 'Asian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Seafood',
 'Mediterranean',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Bar',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Central',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Vegan',
 'Options',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Seafood',
 'European',
 'Gluten',
 'Free',
 'Options',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Asian',
 'Indonesian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Pizza',
 'Italian',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'American',
 'Bar',
 'Fast',
 'Food',
 'French',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Indian',
 'Asian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'European',
 'Vegetarian',
 'Friendly',
 'Belgian',
 'Dutch',
 'Fast',
 'Food',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'American',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Italian',
 'Pizza',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Steakhouse',
 'Seafood',
 'European',
 'International',
 'French',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Steakhouse',
 'Barbecue',
 'European',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'American',
 'Fast',
 'Food',
 'Steakhouse',
 'Italian',
 'Pizza',
 'Seafood',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Central',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Indian',
 'Asian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'American',
 'Steakhouse',
 'Bar',
 'Barbecue',
 'European',
 'Grill',
 'Gluten',
 'Free',
 'Options',
 'American',
 'Steakhouse',
 'Dutch',
 'Bar',
 'Barbecue',
 'European',
 'French',
 'Dutch',
 'European',
 'Central',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Asian',
 'Italian',
 'French',
 'American',
 'Indian',
 'Dutch',
 'Bar',
 'Seafood',
 'Fast',
 'Food',
 'Mediterranean',
 'Sushi',
 'European',
 'Spanish',
 'Korean',
 'Turkish',
 'Grill',
 'Vietnamese',
 'Street',
 'Food',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Vegan',
 'Options',
 'French',
 'Dutch',
 'International',
 'European',
 'Grill',
 'Steakhouse',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'American',
 'Bar',
 'Fast',
 'Food',
 'European',
 'Pub',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Tibetan',
 'Nepali',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Italian',
 'International',
 'Mediterranean',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Dutch',
 'French',
 'Seafood',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Irish',
 'Bar',
 'European',
 'British',
 'Pub',
 'International',
 'Vegetarian',
 'Friendly',
 'Dutch',
 'Bar',
 'European',
 'Central',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Asian',
 'Indonesian',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Dutch',
 'European',
 'International',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Dutch',
 'Cafe',
 'International',
 'European',
 'Gluten',
 'Free',
 'Options',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Bar',
 'European',
 'American',
 'Vegetarian',
 'Friendly',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'New',
 'Zealand',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'French',
 'International',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Pub',
 'German',
 'Bar',
 'European',
 'Gluten',
 'Free',
 'Options',
 'Italian',
 'Pizza',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Dutch',
 'Bar',
 'European',
 'Pub',
 'Vegetarian',
 'Friendly',
 'Italian',
 'Mediterranean',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'French',
 'Dutch',
 'Cafe',
 'European',
 'Vegetarian',
 'Friendly',
 'Vegan',
 'Options',
 'Gluten',
 'Free',
 'Options',
 'Steakhouse',
 'European',
 'International',
 'Gluten',
 'Free',
 'Options',
 'Vegetarian',
 'Friendly',
 'Mediterranean',
 'Italian',
 'European',
 'Vegetarian',
 'Friendly',
 'Dutch',
 'Seafood',
 'European',
 'Vegetarian',
 'Friendly',
 'Gluten',
 'Free',
 'Options',
 'Steakhouse',
 'International',
 'Grill',
 ...]

In [58]:

#Vamos a quedarnos solo con las nacionalidades, para ello cogemos una lista de nacionalidades de internet 
#si estas nacionalidades estan en la lista , se deja el valor. De esta manera limpiamos datos extraños
list_v=list(v_split)
set_unicos=set(list_v)
nationalities=pd.read_csv("nationalities.csv", engine = "c")
list_n=list(nationalities["Nationality"])
set_nationalities=set(list_n)
finales=set_unicos.intersection(set_nationalities)
lista_elegi=[x for x in finales for e in v_split if x in e]

In [59]:
#por ultimo contamos los restaurantes en dublin segun  nacionalidad 
counts = Counter(lista_elegi)
counter=dict(counts)
df_res = pd.DataFrame(counter, index=["Total"])
#y lo ordenamos
df_res=df_res.T.sort_values('Total',ascending=False)
df_res.head(10)

            Total
Italian     17795
French       9558
Spanish      8220
American     5676
British      4836
Japanese     4483
Chinese      3724
Portuguese   3296
Indian       3117
Thai         2300

In [60]:
#guardando csv
df_res.to_csv('nationalities_trip.csv')

# LIMPIANDO DATOS TRAFICO VIANDANTES DUBLIN

In [61]:
#Exportando
os.chdir("../data")
pedestrian=pd.read_csv("july-pedestrian-footfall-data-2020.csv", engine = "c")
pedestrian

,Time,O'Connell St Outside Pennys,O'Connell St Outside Clerys,Mary Street,Capel Street,Aston Quay,Grafton Street @ CompuB,Talbot Street North,"Doilier Street, Burgh Quay",Dawson Street Replacement,...,"College Green, Bank Of Ireland",Henry Street,Westmoreland Street East,Dawson Street,Liffey Street,Westmoreland Street West,Grafton Street,Bachelors Walk,College Green @ Church Lane,College Green - Dame St Side
0,01-07-2020 00:00:00,32,92.0,NaN,10,38,30,15,36,4,...,30,76,14.0,NaN,28.0,99.0,NaN,0,14,14
1,01-07-2020 00:15:00,19,NaN,NaN,9,20,26,9,67,11,...,25,30,NaN,NaN,NaN,NaN,NaN,7,19,4
2,01-07-2020 00:30:00,19,NaN,NaN,6,38,9,3,43,6,...,20,54,NaN,NaN,NaN,NaN,NaN,3,6,6
3,01-07-2020 00:45:00,19,NaN,NaN,5,55,10,5,55,5,...,23,40,NaN,NaN,NaN,NaN,NaN,1,4,10
4,01-07-2020 01:00:00,9,26.0,NaN,4,10,65,4,42,6,...,37,53,27.0,NaN,5.0,423.0,NaN,1,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,31-07-2020 22:45:00,107,NaN,NaN,18,87,286,916,163,4,...,114,138,NaN,NaN,NaN,NaN,NaN,22,58,24
2972,31-07-2020 23:00:00,114,340.0,NaN,19,96,255,1149,130,23,...,107,188,87.0,NaN,124.0,609.0,NaN,33,55,28
2973,31-07-2020 23:15:00,87,NaN,NaN,39,131,180,1092,89,29,...,119,116,NaN,NaN,NaN,NaN,NaN,28,76,40
2974,31-07-2020 23:30:00,67,NaN,NaN,22,65,154,1334,126,24,...,91,113,NaN,NaN,NaN,NaN,NaN,9,29,13
2975,31-07-2020 23:45:00,85,NaN,NaN,16,96,117,1316,90,35,...,120,93,NaN,NaN,NaN,NaN,NaN,9,33,29

In [62]:
pedestrian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Time                                             2976 non-null   object
 1   O'Connell St Outside Pennys                      2976 non-null   int64
 2   O'Connell St Outside Clerys                      744 non-null    float64
 3   Mary Street                                      0 non-null      float64
 4   Capel Street                                     2976 non-null   int64
 5   Aston Quay                                       2976 non-null   int64
 6   Grafton Street @ CompuB                          2976 non-null   int64
 7   Talbot Street North                              2976 non-null   int64
 8   Doilier Street, Burgh Quay                       2976 non-null   int64
 9   Dawson Street Replacement                        2976 non-null   int64
 10  Dame Street                                      2976 non-null   int64
 11  Talbot Street South                              2976 non-null   int64
 12  O'Connell St, Parnell St @ AIB                   2976 non-null   int64
 13  Grafton Street / Nassau Street / Suffolk Street  2976 non-null   int64
 14  College Green, Bank Of Ireland                   2976 non-null   int64
 15  Henry Street                                     2976 non-null   int64
 16  Westmoreland Street East                         744 non-null    float64
 17  Dawson Street                                    0 non-null      float64
 18  Liffey Street                                    744 non-null    float64
 19  Westmoreland Street West                         744 non-null    float64
 20  Grafton Street                                   0 non-null      float64
 21  Bachelors Walk                                   2976 non-null   int64
 22  College Green @ Church Lane                      2976 non-null   int64
 23  College Green - Dame St Side                     2976 non-null   int64
dtypes: float64(7), int64(16), object(1)
memory usage: 558.1+ KB

In [63]:
pedestrian['Time'] = pd.to_datetime(pedestrian['Time'])
pedestrian['day_of_week'] = pedestrian['Time'].dt.dayofweek

days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}

pedestrian['day_of_week'] = pedestrian['day_of_week'].apply(lambda x: days[x])

In [64]:
pedestrian["hour"] = pedestrian["Time"].dt.hour

In [65]:
pedestrian_g= pedestrian.groupby(['day_of_week','hour']).sum()

In [66]:
pedestrian_g.to_csv('pedestrian_group.csv')
pedestrian_g

                  O'Connell St Outside Pennys  O'Connell St Outside Clerys  \
day_of_week hour
Fri         0                             443                        448.0
            1                             223                        147.0
            2                              87                         90.0
            3                              49                         73.0
            4                              75                         45.0
...                                       ...                          ...
Weds        19                           3781                       2735.0
            20                           2541                       2100.0
            21                           1738                       1539.0
            22                           1342                       1205.0
            23                            945                        851.0

                  Mary Street  Capel Street  Aston Quay  \
day_of_week hour
Fri         0             0.0           264         967
            1             0.0           186         521
            2             0.0           134         184
            3             0.0           107         151
            4             0.0           128         158
...                       ...           ...         ...
Weds        19            0.0          1021        3067
            20            0.0           774        3368
            21            0.0           638        2646
            22            0.0           579        2274
            23            0.0           261        1907

                  Grafton Street @ CompuB  Talbot Street North  \
day_of_week hour
Fri         0                         724                 3850
            1                         181                 3367
            2                         106                  704
            3                          53                  251
            4                          59                  135
...                                   ...                  ...
Weds        19                       5449                  442
            20                       3785                  395
            21                       2976                  552
            22                       3305                  403
            23                       1702                  359

                  Doilier Street, Burgh Quay  Dawson Street Replacement  \
day_of_week hour
Fri         0                           2361                        168
            1                           1039                        117
            2                            621                         47
            3                            309                         42
            4                            174                         41
...                                      ...                        ...
Weds        19                          4903                        578
            20                          4772                        530
            21                          3447                        443
            22                          3505                        420
            23                          2517                        404

                  Dame Street  ...  College Green, Bank Of Ireland  \
day_of_week hour               ...
Fri         0             265  ...                            1000
            1             144  ...                             630
            2              62  ...                             312
            3              37  ...                             212
            4              53  ...                             214
...                       ...  ...                             ...
Weds        19           1465  ...                            1868
            20           1115  ...                            1571
            21            968  ...                            1359
            22            804  ...                            1338
            23            575  ...                            1383

                  Henry Street  Westmoreland Street East  Dawson Street  \
day_of_week hour
Fri         0             1121                     148.0            0.0
            1              752                      40.0            0.0
            2              305                      30.0            0.0
            3              766                      15.0            0.0
            4              348                      18.0            0.0
...                        ...                       ...            ...
Weds        19            9718                     771.0            0.0
            20            6875                     782.0            0.0
            21            4786                     617.0            0.0
            22            4148                     502.0            0.0
            23            2076                     466.0            0.0

                  Liffey Street  Westmoreland Street West  Grafton Street  \
day_of_week hour
Fri         0             159.0                     922.0             0.0
            1              75.0                     288.0             0.0
            2              49.0                     220.0             0.0
            3              60.0                      96.0             0.0
            4              27.0                      61.0             0.0
...                         ...                       ...             ...
Weds        19           1688.0                    3975.0             0.0
            20           1227.0                    3275.0             0.0
            21            676.0                    2739.0             0.0
            22            575.0                    2158.0             0.0
            23            334.0                    1711.0             0.0

                  Bachelors Walk  College Green @ Church Lane  \
day_of_week hour
Fri         0                 72                          269
            1                 26                           85
            2                 17                           44
            3                  7                           30
            4                168                           21
...                          ...                          ...
Weds        19               279                         1625
            20               245                         1342
            21               196                         1062
            22               141                          972
            23               103                          698

                  College Green - Dame St Side
day_of_week hour
Fri         0                              156
            1                               46
            2                               23
            3                               22
            4                               29
...                                        ...
Weds        19                            1257
            20                             781
            21                             618
            22                             541
            23                             332

[168 rows x 23 columns]